@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



.bg {
    background-image: url('assets/bg.png')
}

/* shared style */
.display-flex {
    display: flex;
    align-items: center;
}

.text-align {
    text-align: center;
}

.one {
    color: rgba(254, 163, 1, 1);
}

.two {
    color: rgba(1, 172, 253, 1);
}

.three {
    color: rgba(5, 212, 223, 1);
}

.four {
    color: rgba(93, 88, 239, 1);
}

.align-item {
    align-items: center;
}

/* for card (2nd) */
.sizing {
    width: 290.69px;
    height: 301.61px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.pic-radious {
    border-radius: 16px 16px 0px 0px;
}

/* header style */

/* nav style */
.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.Brand {
    font-weight: bold;
    font-size: 2rem;
}


.nav-item {
    list-style: none;
    margin-right: 32px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
}

.for-max-width {
    max-width: 1160px;
    margin: 0 auto;
}

.logo {
    width: 62px;
    height: 62px;

}

.btn-style {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 8px;
}

/* banner style  */
.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.banner-pera {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 24px;
}

.btn_two {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 47px;
    padding-left: 47px;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
}

.banner {
    display: flex;
}

.for-responsive {
    display: none;
}

.banner-img {
    width: 100%;
    margin-left: 50px;


}

.none {
    display: none;
}

/* card section */
.middle-title {
    font-size: 2.87rem;
    font-weight: bold;
    text-align: center;
}

.scl-cetagory-card {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-between; */

}

.card-one {
    background: linear-gradient(#DEF5FF, #FFFFFF);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 52.82px;
    padding-bottom: 58.48px;
    text-align: center;
    border-radius: 18.86px;
    margin-right: 28.29px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);


}

.card-three {
    background: linear-gradient(#FFF4DC, #FFFFFF);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 52.82px;
    padding-bottom: 58.48px;
    text-align: center;
    border-radius: 18.86px;
    margin-right: 28.29px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);


}

.card-four {
    background: linear-gradient(#EEE1FF, #FFFFFF);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 52.82px;
    padding-bottom: 58.48px;
    text-align: center;
    border-radius: 18.86px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05), inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);


}


.card-title {
    font-size: 1.53rem;
    font-weight: bold;
    color: rgba(32, 32, 32, 1);
}

.card-description {
    font-size: 1.002rem;
    font-weight: normal;
    color: rgba(128, 128, 128, 1);

}

.link-style {
    text-decoration: none;
    font-size: 1.002rem;
    font-weight: bold;
    color: rgba(100, 200, 255, 1);

}

.link-style-two {
    text-decoration: none;
    font-size: 1.002rem;
    font-weight: bold;
    color: rgba(240, 170, 0, 1);
}

.link-style-three {
    text-decoration: none;
    font-size: 1.002rem;
    font-weight: bold;
    color: rgba(135, 0, 255, 1);
}

.chevron {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border-radius: 50%; */
    margin-top: 80px;
}

.left-arrow {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background: rgba(254, 163, 1, 1);
    border: none;
    color: #FFFFFF;
}

.right-arrow {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background: rgba(254, 163, 1, 1);
    border: none;
    color: #FFFFFF;
}

.stories-card {
    display: flex;
    justify-content: center;
}

.story-date {
    font-size: 0.96rem;
    font-weight: normal;
    background: rgba(60, 216, 232, 1);
    border-radius: 47.93px;
    width: 174.51px;
    height: 47.93px;
    border: none;
    margin-left: 38.5px;
    margin-top: -25px;


}

.story-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 38.35px;

}

.story-des {
    font-size: 0.96rem;
    font-weight: normal;
    margin-left: 37.91px;
    margin-right: 51.75px;
    margin-top: 23.97px;
    margin-bottom: 33.55px;

}

.test {
    padding: 14px 19px 14px 19px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.picture-one {
    border-radius: ;
}

/* card one */
.picture-one {
    border-radius: 16px 16px 0px 0px;
}

.stories-card-one {
    margin-right: 18.73px;
    background: #FFFFFF;
    width: 540px;
    height: 630.52px;
    border-radius: 16px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.story-description {
    margin-left: 38.35px;
    margin-top: 47.93px;
    font-size: 0.96rem;
    font-weight: normal;

}

.card-second-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.stories-card-two {
    margin-right: 19.17px;
    margin-bottom: 19.39px;
}

.last-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.btn-from {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    background: black;
    border-radius: 12px;
    width: 197px;
    height: 50px;
}

footer {
    background: rgba(1, 172, 253, 1);
    max-width: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    /* height: 519px; */
}

.footer-style {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 123px;
    padding-right: 228.09px;
    padding-bottom: 174px;
    padding-left: 140px;


}

.first-one {
    display: flex;
    align-items: center;


}

.footer-title {
    font-size: 2.43rem;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-logo {
    width: 82.9px;
    height: 81.65px;
}

.footer-description {
    font-size: 1.25rem;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 0px;
}

.snd-one {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.ancor-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.ancor-style {

}

footer ul a {
    text-decoration: none;
    color: #FFFFFF;


}

.footer-item {
    display: flex;
    flex-direction: column;


}

.Trd-one h3 {
    font-size: 1.62rem;
    color: #FFFFFF;
    font-weight: bold;
}

.anchor-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
}
.footer-brand{
    display: flex;
    gap: 10px;
}
.stories-card-three-mobile{
    display: none;
}
























@media screen and (max-width: 576px)  {
    
    
    
    
    
    
    .logo {
        width: 46px;
        height: 46px;
    }

    .nav-item a,
    .Brand,
    .btn-style {
        display: none;
    }

    .nav-bar {
        border: 1.5px solid rgba(254, 163, 1, 1);
        justify-content: space-between;
        margin: 0;
        width: 390px;
    }

    .for-responsive {
        display: block;
        width: 1.87rem;
        height: 1.87rem;
        border: none;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner-description {
        text-align: center;
    }

    header
    main {
        max-width: 357px;
        margin: 0 auto;
    }

    .kids-img {
        width: 357px;
        /* max-width: 100%;  */
        /* height: auto; */
        /* margin-left: 26px; */
        /* margin-right: 26px; */
    }

    .banner-img {
        margin: auto;
    }

    .banner-title {
        font-size: 2rem;
    }

    .none {
        display: block;
    }
    .middle-title{
        display: flex;
    }

    .scl-cetagory-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 357px;

    }



    /* more work on here */
    .card-one ,.card-three,.card-four {
        /* padding:28px 36px 28px 36px ; */
        width: 357px;
        height: 321px;
        
    }

    .card-four {}


    .chevron {
        display: none;
    }

    /* for bedge card */
    .stories-card-one {
        display: none;
    }

    .card-second-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 50%;
        align-items: center;
       
    }
    /* .stories-card-two,.stories-card-three,.stories-card-four,.stories-card-five{ */
        /* width: 157px; */
    /* } */
    .footer-style{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .stories-card-three-mobile{
        display: block;
    }


}

/* for bedge card */